kxds-hosting/src/test/resources/schemas/attributes-test.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://test.example.com/attributes"
           xmlns="http://test.example.com/attributes"
           elementFormDefault="qualified">

    <!-- Test attributes -->
    <xs:complexType name="PersonWithAttributes">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="country" type="xs:string" use="optional"/>
        <xs:attribute name="verified" type="xs:boolean"/>
    </xs:complexType>

</xs:schema>
